# Clase 1

## Programming Basics

### "Hello World"

In [1]:
print("Bienvenido a MCPP.")

Bienvenido a MCPP.

In [2]:
mensaje = ("Bienvenido a MCPP.")

In [3]:
print(mensaje)

Bienvenido a MCPP.

In [4]:
mensaje2 = "Bienvenidos a MCPP."
print(mensaje2)

Bienvenidos a MCPP.

## Tipos

### Enteros

In [5]:
a = 5
b = 3
c = 2

In [6]:
type(a)

int

### Reales

In [7]:
x = 15.5

In [8]:
type(x)

float

### Texto

In [9]:
u = "Juan Camilo"

In [10]:
print(u)

Juan Camilo

In [11]:
type(u)

str

In [12]:
t1 = "Juan"

In [13]:
t2 = "Camilo"

In [14]:
t3 = t1 + " " + t2

In [15]:
print(t3)

Juan Camilo

In [16]:
d = a + b + c

In [17]:
print(d)

10

In [18]:
d - 5

5

In [19]:
d * 2

20

In [20]:
d / 3

3.3333333333333335

In [21]:
d // 3

3

In [22]:
d % 3

1

In [23]:
10 - 2 * 3 #Python calcula primero la división y multiplicación que la suma y la resta

4

In [24]:
(10 - 2) * 3 #Pero opera primero los valores entre paréntesis

24

In [25]:
t1 + " " + t2 + " " + "Perdomo"

'Juan Camilo Perdomo'

In [26]:
input()

''

### Expresiones Booleanas

In [27]:
10 > 5

True

In [28]:
10 < 5

False

In [29]:
c

2

In [30]:
c >= 5

False

In [31]:
b > 5 and d > 5

False

In [32]:
not (b > 5 and d > 5)

True

In [33]:
a

5

In [34]:
a==5

True

In [35]:
print = 3 #Acá se le asigna el valor 3 a la variable "print"

In [36]:
print

3

In [37]:
#Sin embargo esto no es aconsejable, dado que se pierde el uso de la función "print"

In [38]:
print("A")

TypeError: 'int' object is not callable

In [43]:
del(print)

In [44]:
print("A")

A

# Clase 2

## Estructuras de Control

### Condicionales

In [45]:
a = 5 #Define la variable a igual 5
if a < 7:
    print("Menor a 7")

Menor a 7

In [46]:
riesgo = "alto"
if riesgo == "alto":
    print("El riesgo es", riesgo)
    print("Asigne el paciente al grupo A")

El riesgo es alto
Asigne el paciente al grupo A

In [47]:
riesgo = "alto"
if riesgo == "alto":
    print("El riesgo del paciente es", riesgo)
    print("Asigne paciente a grupo A")
    print("Llame de inmediato a contacto de emergencia")
elif riesgo == "medio":
    print("El riesgo del paciente es", riesgo)
    print("Asigne paciente a grupo B")
    print("Llame de inmediato a contacto de emergencia")
else:
    print("El riesgo del paciente es", riesgo)
    print("Asigne paciente a grupo C")
print("Diagnóstico finalizado")

El riesgo del paciente es alto
Asigne paciente a grupo A
Llame de inmediato a contacto de emergencia
Diagnóstico finalizado

### Diferencia entre "If" y "Elif"

In [48]:
x = 3
if x < 10:
    print("Menor a 10")
if x < 5:
    print("Menor a 5")

Menor a 10
Menor a 5

In [49]:
x = 3
if x < 10:
    print("Menor a 10")
elif x < 5:
    print("Menor a 5")

Menor a 10

In [50]:
x = 3
if x < 10:
    print("Menor a 10")
elif x < 5:
    print("Menor a 5")
if x < 20:
    print("Menor a 20")

Menor a 10
Menor a 20

In [51]:
x = 35
if x < 10:
    print("Menor a 10")
elif x < 5:
    print("Menor a 5")

In [52]:
x = 35
if x < 10:
    print("Menor a 10")
elif x < 5:
    print("Menor a 5")
else:
    print("Otro caso")

Otro caso

### For Loops

In [53]:
nums = [1, 4, 8, 9, 11]

In [54]:
for n in nums:
    print(n)

1
4
8
9
11

##### El nombre del iterador (en este caso "n") es arbitrario

In [55]:
for número in nums:
    print(número)

1
4
8
9
11

In [56]:
for n in nums:
    print("El número es", n)

El número es 1
El número es 4
El número es 8
El número es 9
El número es 11

In [57]:
for i in nums:
    if (i % 2) == 1:
        print(i, "es impar")
    else:
        print(i, "es par")

1 es impar
4 es par
8 es par
9 es impar
11 es impar

In [58]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
for i in nums:
    if (i % 2) == 1:
        print(i, "es impar")
    else:
        print(i, "es par")

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par
11 es impar
12 es par
13 es impar
14 es par
15 es impar
16 es par
17 es impar
18 es par
19 es impar
20 es par

In [59]:
for i in range(1,20):
    if (i % 2) == 1:
        print(i, "es impar")
    else:
        print(i, "es par")

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par
11 es impar
12 es par
13 es impar
14 es par
15 es impar
16 es par
17 es impar
18 es par
19 es impar

In [60]:
es_primo = True
n = 7
for i in range (2,n):
    if n % i == 0:
        es_primo: False #Si n es divisible por i, no es primo
print(n, es_primo)

7 True

In [61]:
es_primo = True
n = 8
for i in range(2, n):
    if n % i == 0:
        es_primo = False
    print("Esta es la iteración cuando i es igual a", i)
print(n, es_primo)

Esta es la iteración cuando i es igual a 2
Esta es la iteración cuando i es igual a 3
Esta es la iteración cuando i es igual a 4
Esta es la iteración cuando i es igual a 5
Esta es la iteración cuando i es igual a 6
Esta es la iteración cuando i es igual a 7
8 False

### While loops

In [62]:
i = 0
N = 10
while i < N:
    print(i)
    i= i + 1

0
1
2
3
4
5
6
7
8
9

In [63]:
x = 4
y = 3
if x > 2:
    if y > 2:
        z = x + y
        print("z es", z)
else:
    print("x es", x)

z es 7

In [64]:
i = 0
while i < 10:
    i = i + 1
    if i % 2 == 0:
        print(i)

2
4
6
8
10

## Clase 5

### Diccionarios

Son colecciones no-secuenciales, no-ordenadas.
Son asociaciones (mapeos) entre llaves (ids) y valores.
Son mutables.

{llave1: valor1, llave2: valor2, llave3: valor3,...}

In [68]:
sexo = {"juana": "F", "david": "M", "ernesto": "M", "andrea": "F"}

In [69]:
sexo

{'juana': 'F', 'david': 'M', 'ernesto': 'M', 'andrea': 'F'}

El diccionario soporta todo tipo de objetos.

In [70]:
sexo2 = {"juana": 0, "david": 1, "ernesto": 1, "andrea": 0}

In [71]:
sexo2

{'juana': 0, 'david': 1, 'ernesto': 1, 'andrea': 0}

In [73]:
sexo["david"]

'M'

In [74]:
sexo["santiago"]

KeyError: 'santiago'

In [75]:
sexo["santiago"]= "M"

In [76]:
sexo

{'juana': 'F', 'david': 'M', 'ernesto': 'M', 'andrea': 'F', 'santiago': 'M'}

In [77]:
sexo["ernesto"]= "F"

In [78]:
sexo

{'juana': 'F', 'david': 'M', 'ernesto': 'F', 'andrea': 'F', 'santiago': 'M'}

In [79]:
sexo.keys()

dict_keys(['juana', 'david', 'ernesto', 'andrea', 'santiago'])

In [80]:
list(sexo.keys())

['juana', 'david', 'ernesto', 'andrea', 'santiago']

In [81]:
list(sexo.values())

['F', 'M', 'F', 'F', 'M']

In [82]:
list(sexo.items())

[('juana', 'F'),
 ('david', 'M'),
 ('ernesto', 'F'),
 ('andrea', 'F'),
 ('santiago', 'M')]

In [84]:
sexo.items()

dict_items([('juana', 'F'), ('david', 'M'), ('ernesto', 'F'), ('andrea', 'F'), ('santiago', 'M')])

In [85]:
del sexo["santiago"]

In [86]:
sexo

{'juana': 'F', 'david': 'M', 'ernesto': 'F', 'andrea': 'F'}

In [87]:
"andrea" in sexo

True

In [88]:
"santiago" in sexo

False

In [89]:
for k, v in sexo.items():
    print(k, v)

juana F
david M
ernesto F
andrea F

In [90]:
for k in sexo.items():
    print(k)

('juana', 'F')
('david', 'M')
('ernesto', 'F')
('andrea', 'F')

In [96]:
for i in sexo:
    print(i)

juana
david
ernesto
andrea
ejemplo

In [102]:
sexo["ejemplo"] = [["M", 5, 7.0], ("asdf"), {"llave": "valor"}]

In [103]:
sexo

{'juana': 'F',
 'david': 'M',
 'ernesto': 'F',
 'andrea': 'F',
 'ejemplo': [['M', 5, 7.0], 'asdf', {'llave': 'valor'}]}

(Como es usual, al no especificar estructura de datos de una colección, Python asume que se trata de una tupla.)

In [105]:
sexo["ejemplo"] = ["M", 5, 7.0], ("asdf"), {"llave": "valor"}

In [106]:
sexo["ejemplo"][0][2]

7.0

In [107]:
sexo["ejemplo"][0][2][1]

TypeError: 'float' object is not subscriptable

In [108]:
nums = [7,3,4,7,1,2,0,7,9,3,8,5,1,8,2,3,0,1]

In [109]:
nums

[7, 3, 4, 7, 1, 2, 0, 7, 9, 3, 8, 5, 1, 8, 2, 3, 0, 1]

In [114]:
count = {}
for x in nums:
    if x not in count:
        count[x] = 0
    count[x] = count[x] + 1

In [115]:
count

{7: 3, 3: 3, 4: 1, 1: 3, 2: 2, 0: 2, 9: 1, 8: 2, 5: 1}

In [120]:
count = {}

In [123]:
count[7]= 0

In [124]:
count

{7: 0}

In [125]:
count[7]

0

In [126]:
count[7]+1

1

Esto se hace frecuentemente. Los diccionarios tienen un método útil que lo simplifica: "get".

In [127]:
sexo.get("andrea")

'F'

In [128]:
sexo.get("santiago")

In [129]:
print(sexo.get("santiago"))

None

In [130]:
sexo.get("santiago", "M")

'M'

In [131]:
sexo

{'juana': 'F',
 'david': 'M',
 'ernesto': 'F',
 'andrea': 'F',
 'ejemplo': (['M', 5, 7.0], 'asdf', {'llave': 'valor'})}

In [132]:
sexo.get("andrea", "M")

'F'

In [133]:
sexo["santiago"] = sexo.get("santiago", "M")

In [134]:
sexo

{'juana': 'F',
 'david': 'M',
 'ernesto': 'F',
 'andrea': 'F',
 'ejemplo': (['M', 5, 7.0], 'asdf', {'llave': 'valor'}),
 'santiago': 'M'}

In [135]:
count = {}
for x in nums:
    if x not in count:
        count[x] = 0
    count[x] = count[x] + 1

In [136]:
count

{7: 3, 3: 3, 4: 1, 1: 3, 2: 2, 0: 2, 9: 1, 8: 2, 5: 1}

In [138]:
count = {}
for x in nums:
    count[x] = count.get(x,0) + 1

In [139]:
count

{7: 3, 3: 3, 4: 1, 1: 3, 2: 2, 0: 2, 9: 1, 8: 2, 5: 1}

En general, código de la forma:

if key not in d:
    d[key] = some_default_value
d[key] = some_transformation(d[key])

Puede ser escrito como:

d[key] = some_transformation(d.get(key, some_default_value))

### "Functional programming"

#### Funciones anónimas o "lambda functions"

In [140]:
def square(x):
    return x**2

In [141]:
nums

[7, 3, 4, 7, 1, 2, 0, 7, 9, 3, 8, 5, 1, 8, 2, 3, 0, 1]

In [142]:
for num in nums:
    print(square(num))

49
9
16
49
1
4
0
49
81
9
64
25
1
64
4
9
0
1

In [143]:
f = lambda x: x**2
for num in nums:
    print(f(num))

49
9
16
49
1
4
0
49
81
9
64
25
1
64
4
9
0
1

#### map(), filter(), reduce(): Iteraciones de orden superior

In [160]:
nums = [1,2,3,4,5]

In [161]:
def incr(x):
    return x + 1

In [163]:
for num in nums:
    print(incr(num))

2
3
4
5
6

In [164]:
list(map(incr, nums))

[2, 3, 4, 5, 6]

In [165]:
nums

[1, 2, 3, 4, 5]

In [166]:
list(map(lambda x: x+1, nums))

[2, 3, 4, 5, 6]

In [167]:
list(map(lambda x: x**2, nums))

[1, 4, 9, 16, 25]

In [168]:
def is_odd(x):
    return x % 2 == 1

In [169]:
list(filter(is_odd, nums))

[1, 3, 5]

In [170]:
list(filter(lambda x: x%2==1, nums))

[1, 3, 5]

In [171]:
g = lambda x,y,z: x*y*z
for num in nums:
    print(g(num,2,3))

6
12
18
24
30

In [172]:
from functools import reduce

In [173]:
def add(x,y):
    return x + y

In [175]:
reduce(add,nums)

15

In [176]:
reduce(lambda x,y: x*y, nums)

120

#### "List comprehensions"

In [178]:
list(map(lambda x: x**2, nums))

[1, 4, 9, 16, 25]

In [179]:
nums2 = []
for x in nums:
    nums2. append(x**2)
nums2

[1, 4, 9, 16, 25]

In [182]:
[x**2 for x in nums]

[1, 4, 9, 16, 25]

In [183]:
list(map(lambda x: x**2, filter(lambda x: x%2==1, nums)))

[1, 9, 25]

In [184]:
nums3 = []
for x in nums:
    if x % 2 ==1:
        nums3.append(x**2)
nums3

[1, 9, 25]

In [187]:
[x**2 for x in nums if x%2==1]

[1, 9, 25]

In [188]:
d = {x+1:0 for x in range(10)}

In [189]:
d

{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0}