# Clase 1

## Programming Basics

### "Hello World"

In [98]:
print("Bienvenido a MCPP.")

Bienvenido a MCPP.

In [99]:
mensaje = ("Bienvenido a MCPP.")

In [100]:
print(mensaje)

Bienvenido a MCPP.

In [101]:
mensaje2 = "Bienvenidos a MCPP."
print(mensaje2)

Bienvenidos a MCPP.

## Tipos

### Enteros

In [102]:
a = 5
b = 3
c = 2

In [103]:
type(a)

int

### Reales

In [104]:
x = 15.5

In [105]:
type(x)

float

### Texto

In [106]:
u = "Juan Camilo"

In [107]:
print(u)

Juan Camilo

In [108]:
type(u)

str

In [109]:
t1 = "Juan"

In [110]:
t2 = "Camilo"

In [111]:
t3 = t1 + " " + t2

In [112]:
print(t3)

Juan Camilo

In [113]:
d = a + b + c

In [114]:
print(d)

10

In [115]:
d - 5

5

In [116]:
d * 2

20

In [117]:
d / 3

3.3333333333333335

In [118]:
d // 3

3

In [119]:
d % 3

1

In [120]:
10 - 2 * 3 #Python calcula primero la división y multiplicación que la suma y la resta

4

In [121]:
(10 - 2) * 3 #Pero opera primero los valores entre paréntesis

24

In [122]:
t1 + " " + t2 + " " + "Perdomo"

'Juan Camilo Perdomo'

In [123]:
input()

''

### Expresiones Booleanas

In [124]:
10 > 5

True

In [125]:
10 < 5

False

In [126]:
c

2

In [127]:
c >= 5

False

In [128]:
b > 5 and d > 5

False

In [129]:
not (b > 5 and d > 5)

True

In [130]:
a

5

In [131]:
a==5

True

In [132]:
print = 3 #Acá se le asigna el valor 3 a la variable "print"

In [133]:
print

3

In [134]:
#Sin embargo esto no es aconsejable, dado que se pierde el uso de la función "print"

In [135]:
print("A")

TypeError: 'int' object is not callable

In [138]:
del(print)

In [139]:
print("A")

A

# Clase 2

## Estructuras de Control

### Condicionales

In [140]:
a = 5 #Define la variable a igual a 5
if a < 7:
    print("Menor a 7")

Menor a 7

In [141]:
riesgo = "alto"
if riesgo == "alto":
    print("El riesgo es", riesgo)
    print("Asigne el paciente al grupo A")

El riesgo es alto
Asigne el paciente al grupo A

In [143]:
riesgo = "alto"
if riesgo == "alto":
    print("El riesgo del paciente es", riesgo)
    print("Asigne paciente a grupo A")
    print("Llame de inmediato a contacto de emergencia")
elif riesgo == "medio":
    print("El riesgo del paciente es", riesgo)
    print("Asigne paciente a grupo B")
    print("Llame de inmediato a contacto de emergencia")
else:
    print("El riesgo del paciente es", riesgo)
    print("Asigne paciente a grupo C")
print("Diagnóstico finalizado")

El riesgo del paciente es alto
Asigne paciente a grupo A
Llame de inmediato a contacto de emergencia
Diagnóstico finalizado

### Diferencia entre "If" y "Elif"

In [146]:
x = 3
if x < 10:
    print("Menor a 10")
if x < 5:
    print("Menor a 5")

Menor a 10
Menor a 5

In [150]:
x = 3
if x < 10:
    print("Menor a 10")
elif x < 5:
    print("Menor a 5")

Menor a 10

In [148]:
x = 3
if x < 10:
    print("Menor a 10")
elif x < 5:
    print("Menor a 5")
if x < 20:
    print("Menor a 20")

Menor a 10
Menor a 20

In [152]:
x = 35
if x < 10:
    print("Menor a 10")
elif x < 5:
    print("Menor a 5")

In [154]:
x = 35
if x < 10:
    print("Menor a 10")
elif x < 5:
    print("Menor a 5")
else:
    print("Otro caso")

Otro caso

### For Loops

In [155]:
nums = [1, 4, 8, 9, 11]

In [156]:
for n in nums:
    print(n)

1
4
8
9
11

##### El nombre del iterador (en este caso "n") es arbitrario

In [157]:
for número in nums:
    print(número)

1
4
8
9
11

In [158]:
for n in nums:
    print("El número es", n)

El número es 1
El número es 4
El número es 8
El número es 9
El número es 11

In [160]:
for i in nums:
    if (i % 2) == 1:
        print(i, "es impar")
    else:
        print(i, "es par")

1 es impar
4 es par
8 es par
9 es impar
11 es impar

In [162]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
for i in nums:
    if (i % 2) == 1:
        print(i, "es impar")
    else:
        print(i, "es par")

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par
11 es impar
12 es par
13 es impar
14 es par
15 es impar
16 es par
17 es impar
18 es par
19 es impar
20 es par

In [167]:
for i in range(1,20):
    if (i % 2) == 1:
        print(i, "es impar")
    else:
        print(i, "es par")

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par
11 es impar
12 es par
13 es impar
14 es par
15 es impar
16 es par
17 es impar
18 es par
19 es impar

In [169]:
es_primo = True
n = 7
for i in range (2,n):
    if n % i == 0:
        es_primo: False #Si n es divisible por i, no es primo
print(n, es_primo)

7 True

In [173]:
es_primo = True
n = 8
for i in range(2, n):
    if n % i == 0:
        es_primo = False
    print("Esta es la iteración cuando i es igual a", i)
print(n, es_primo)

Esta es la iteración cuando i es igual a 2
Esta es la iteración cuando i es igual a 3
Esta es la iteración cuando i es igual a 4
Esta es la iteración cuando i es igual a 5
Esta es la iteración cuando i es igual a 6
Esta es la iteración cuando i es igual a 7
8 False

### While loops

In [174]:
i = 0
N = 10
while i < N:
    print(i)
    i= i + 1

0
1
2
3
4
5
6
7
8
9

In [175]:
x = 4
y = 3
if x > 2:
    if y > 2:
        z = x + y
        print("z es", z)
else:
    print("x es", x)

z es 7

In [176]:
i = 0
while i < 10:
    i = i + 1
    if i % 2 == 0:
        print(i)

2
4
6
8
10